<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href=".../"> -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/modal-2.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
  </head>
  <body>
    <header id="main-header"></header>

    <div class="content" style="height: 900px"></div>

    <footer class="footer"></footer>

    <script src="/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/footer.js"></script>
    <script>
      // const header = document.querySelector('.header')
      // document.onscroll = function(e) {
      //     if(window.scrollY >= 130) {
      //         header.classList.add('fixed-top')
      //     }
      // }
    </script>
  </body>
</html>
