<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/modal-2.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <style>
      .main-content {
        margin-top: 120px;
        padding: 0 10%;
      }
      .col-3 {
        margin-top: 0;
      }
      .col-3.asd {
        margin: 10px 20px;
        border: 1px solid #ccc;
        padding: 10px;
        cursor: pointer;
      }
      .col-3.asd:hover {
        box-shadow: 1px 1px 15px rgb(0 0 0 / 15%);
      }

      .row {
        display: flex;
        justify-content: center;
      }
      .content {
        height: 60px;
      }
      .is-divider {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        height: 2px;
        display: block;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 1em 0 1em;
        width: 100%;
        max-width: 30px;
      }
      p.from_the_blog_excerpt {
        height: 3em;
      }
      .newest-title,
      p.from_the_blog_excerpt,
      .main-news-title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
    </style>
  </head>
  <body>
    <header id="main-header" style="height: 0"></header>

    <div class="main-content">
      <div
        class="content d-flex justify-content-center align-items-center fw-bold fs-3"
      >
        Liên Hệ
      </div>
      <div class="row">
        <div class="col-3">
          <div class="row">
            <p>BÀI VIẾT MỚI NHẤT</p>
            <div class="list-group news">
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-8" style="margin-top: 9px">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      class="newest-title"
                      >Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-8" style="margin-top: 9px">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      class="newest-title"
                      >Xinh xắn nhất những ngày này là những mẫu giày của các
                      chàng trai BTS hợp tác cùng Converse</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-8" style="margin-top: 9px">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      class="newest-title"
                      >Fashionista Việt đua nhau sống “ngược” theo trào ...</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-8" style="margin-top: 9px">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      class="newest-title"
                      >Comme des Garçons Play x Converse nhá hàng mẫu giày mới,
                      dự kiến ra mắt vào cuối tháng này</a
                    >
                  </div>
                </div>
              </div>
              <div class="row list-group-item">
                <div class="row">
                  <div class="col-4">
                    <img
                      src="http://mauweb.monamedia.net/converse/wp-content/uploads/2019/05/men-psy-1-150x150.jpg"
                      alt=""
                      style="width: 60px; height: 60px"
                    />
                  </div>
                  <div class="col-8" style="margin-top: 9px">
                    <a
                      href="http://mauweb.monamedia.net/converse/duis-luctus-elit-nisi-et-cursus-magna-pellentesque-non/"
                      class="newest-title"
                      >Đế giày Converse có thiết kế rất đặc biệt, nhưng lý do
                      thì chắc chắn bạn không tưởng tượng ra</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-3 asd">
              <div class="main-news">
                <img
                  src="http://mauweb.monamedia.net/converse/wp-content/uploads/2018/03/news-1-300x225.jpg"
                  alt=""
                  style="width: 100%"
                />
                <h5 class="main-news-title">
                  Converse sẽ mang Golf le Fleur* Chuck 70 về Việt Nam?
                </h5>
                <div class="is-divider"></div>
                <div class="main-news-content">
                  <p class="from_the_blog_excerpt">
                    Nhờ cú leak vừa rồi từ nơi sản sinh ra các thành phẩm của
                    Converse ...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-3 asd">
              <div class="main-news">
                <img
                  src="http://mauweb.monamedia.net/converse/wp-content/uploads/2018/03/news-2-300x229.jpg"
                  alt=""
                  style="width: 100%"
                />
                <h5 class="main-news-title">
                  Xinh xắn nhất những ngày này là những mẫu giày của các chàng
                  trai BTS hợp tác cùng Converse
                </h5>
                <div class="is-divider"></div>
                <div class="main-news-content">
                  <p class="from_the_blog_excerpt">
                    Phải tới ngày 27 tới, BST này mới chính thức ra mắt nhưng
                    giờ nó ...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-3 asd">
              <div class="main-news">
                <img
                  src="http://mauweb.monamedia.net/converse/wp-content/uploads/2018/03/news-3-300x143.jpg"
                  alt=""
                  style="width: 100%; height: 160px"
                />
                <h5 class="main-news-title">
                  Fashionista Việt đua nhau sống “ngược” theo trào ...
                </h5>
                <div class="is-divider"></div>
                <div class="main-news-content">
                  <p class="from_the_blog_excerpt">
                    Nhờ cú leak vừa rồi từ nơi sản sinh ra các thành phẩm của
                    Converse ...
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3 asd">
              <div class="main-news">
                <img
                  src="http://mauweb.monamedia.net/converse/wp-content/uploads/2018/03/news-6-300x225.jpg"
                  alt=""
                  style="width: 100%"
                />
                <h5 class="main-news-title">
                  Đế giày Converse có thiết kế rất đặc biệt, nhưng lý do thì
                  chắc chắn bạn không tưởng tượng ra
                </h5>
                <div class="is-divider"></div>
                <div class="main-news-content">
                  <p class="from_the_blog_excerpt">
                    Nếu chú ý, bạn sẽ thấy đế giày Converse có một lớp nỉ cao su
                    ...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-3 asd">
              <div class="main-news">
                <img
                  src="http://mauweb.monamedia.net/converse/wp-content/uploads/2018/03/news-4-300x200.jpg"
                  alt=""
                  style="width: 100%"
                />
                <h5 class="main-news-title">
                  Comme des Garçons Play x Converse nhá hàng mẫu giày mới, dự
                  kiến ra mắt vào cuối tháng này
                </h5>
                <div class="is-divider"></div>
                <div class="main-news-content">
                  <p class="from_the_blog_excerpt">
                    Không phụ lòng mong đợi của các fan, Comme des Garçons Play
                    x Converse sẽ ...
                  </p>
                </div>
              </div>
            </div>
            <div class="col-3 asd">
              <div class="main-news">
                <img
                  src="http://mauweb.monamedia.net/converse/wp-content/uploads/2018/03/news-5-300x203.png"
                  alt=""
                  style="width: 100%"
                />
                <h5 class="main-news-title">
                  Hội Thần Kinh Giày xôn xao với hình ảnh 18 ngàn lượt like của
                  nhóc tì mẫu giáo
                </h5>
                <div class="is-divider"></div>
                <div class="main-news-content">
                  <p class="from_the_blog_excerpt">
                    Có vẻ như bức hình của cô nhóc xinh xắn cùng đôi Converse
                    trắng đã ...
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer"></footer>
    <script src="./bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="./JS/header.js"></script>
    <script src="./JS/footer.js"></script>
  </body>
</html>
