.footer {
  background: rgb(24, 24, 24);
}
.a {
  font-size: 20px;
  color: #fff;
}
.clearfix {
  height: 5px;
  clear: both;
  margin: 16px 0;
}
.footer-text {
  text-decoration: none;
  font-size: 14px !important;
  color: #a4a4a4;
}
a.footer-text:hover {
  color: rgb(225, 22, 22);
}
.col-3 {
  margin-top: 20px;
}
.footer-icon {
  font-size: 35px;
  margin-right: 10px;
}
.hover-red:hover {
  color: #c30005;
}
